*{
    margin: 0px;
    padding: 0px;
}

/* Menu style started */

nav{
    display: flex;
    background-color: #FFF8F3;
    padding: 10px 100px;
    justify-content: center;
}

nav ul li{
    list-style: none;
    display: flex;
}

nav ul li a{
text-decoration: none;
}